/* get rid of default <p> styling */
p {
    margin-bottom: 0 !important;
}

#chatbox {
    filter: drop-shadow(3px 3px 3px lightgrey);
}

#chatboxHeader p {
    margin-left: 0.5em;
}

.msg {
    width: 100%;
    margin: 0.25em 0;
    display: flex;
}

.msg span {
    color: white;
    padding: 0.6em 1.1em;
    margin: 0 0.5em;
    font-size: 0.9rem;
    border-radius: 0.3rem;
    max-width: 80%;
}

.msg-out {
    justify-content: flex-end;
}

.msg-out span {
    background-color: #0D6EFD;
    
}

.msg-in span {
    background-color: #747474;
}

.msg-img {
    width: 75%;
    margin-left: 0.5rem;
}



